<h1 id="app">
  Welcome to HIGHER Performance.
</h1>
<div id="content">
  <p>Welcome to HIGHER Performance, HIGHER Technology's Human Performance Survey.
  This quick and easy survey takes about an hour, and helps you and your future employer determine whether this role is a good fit for you.<p>
  <p>From this page you can:</p>
  <ul>
    <li>Take one of our
      <%= link_to t('Assessments'), rapidfire.surveys_path(@survey) %>
    </li>
    <li>Login as an <a href="./admin">Administrator</a></li>
    <li>Create a
      <%= link_to t('new Assessment'), rapidfire.new_survey_path %>
    </li>
    </ul
</div>
